.title {
  font-size: 1em;
  background-color: rgb(24, 136, 170);
}

header {
  width: 100%;
  height: 5.5em;
  background-color: lightgray;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.subtitle {
  font-size: 0.8em;
  color: red;
}
