.title {
  font-family: Inter, sans-serif;
  font-size: 1em;
}

header {
  width: 100%;
  height: 4em;
  background-color: rgb(216, 75, 75);
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-size: 1.5em;
  padding-bottom: 0.2em;
  margin-right: 0.1em;
  color: red;
}
